/*
******************
* MAIN
******************
*/
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/opensanshebrew-regular-webfont.eot);
  src: url(./fonts/opensanshebrew-regular-webfont.eot?#iefix) format('embedded-opentype'),
  url(./fonts/opensanshebrew-regular-webfont.woff) format('woff'),
  url(./fonts/opensanshebrew-regular-webfont.ttf) format('truetype');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
body{    
  font-size: 16px;
  font-family: 'Open Sans Hebrew';  
}
.all-content{
  min-height: 100vh;    
}
.height{
  height: 200px;
  width: 100%;
}
h1, h2, h3,h4,h5,h6,a{
  font-weight: 100;
}
h1{
  font-size:3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
} 
h4{
  font-size: 1.2em;
}
h5{
  font-size: 0.9em;
}
h6{
  font-size: 0.6em;
}  
a{ 
  font-size: 0.9em;
  text-decoration: none;
  color: black;
}
button{
  background-color: #0082c6;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 1.2em;
  margin-top: 20px;
}
.clear{
  clear: both;
}
/*
******************
* CENTRAL-CONTAINER
******************
*/
.central-container{
  margin-left: 23%;
  margin-right: 23%;
  height: 100%;
  clear: both;       
}
.central-container h2{
  color:#0082c6;
}
.central-container h3{
  color:#0082c6;
}
.central-container h4{
  color:#0082c6;
}
/*
******************
* HEAD-GREY
******************
*/
.head-grey{
  width: 100%;
  height: 90px;
  background: #ebebeb;
}
.head-grey h3{    
  padding-top: 30px;
  text-align: center;
  font-weight: 900;
  color:#0082c6;
}    
/*
******************
* HEADER
******************
*/

.menu-link{
  display:none;
}
.contact-box{
  border: 1px solid #5dc5ef;
  width: 80px;
  height: 20px;
  margin-right: 10px; 
}
.contact-box h6, .contact-box .icon-mobile{
  margin-top: 3px; 
  display: block;
  color:#1885c8;
  float: right;
}
.contact-box h6{
  font-weight:bold;
  font-size: 0.65em;
}
.contact-box .icon-mobile{
  font-size: 0.8em;
  margin-top: 4px;
  margin-right: 4px;
}
#logo img{
  width: 80%;
}
#logo{
  margin-top: 10px;
  text-align: center;
}
.invisible{
  display: none;
}
@media (min-width: 1011px) {  
  .nav-body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
  }  
  .nav-body  ul{
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;  
}
  .nav-body  ul li{
  display: inline- block;  
  margin-right: 30px; 
  margin-top: 10px; 
  font-size: 1em;   
}
.list-menu   .circleVisible{
  display: block;
  width: 8px;
  height: 8px;
  background: #5dc5ef; 
  border-radius: 4px;
  margin: auto;
  margin-top: 7px;
}   
  .icon-mobile, .icon-menu,.icon-cross {
  display: none;
} 
}
@media (max-width: 1010px){  
  .nav-body{   
    height: 80px;
}  
  #logo{      
     float: left; 
     margin-top: 20px;    
}
 .icon-mobile, .icon-menu,.icon-cross{
     display: block;     
     color: #0082c6;
     font-size: 2em;
     margin-top: 0px;   
     float: right; 
     margin-top: 20px;
     
} 
.icon-menu,.icon-cross{
  margin-right: 20px;
}
.icon-mobile{
  margin-right: 10px;  
}
.list-menu{
  display:none;
}
.menu-link ~ .icon-menu {  
  display: block;   	   
}
.menu-link ~ .icon-cross {
  display: none;
}
.menu-link:checked ~ .icon-menu {
  display: none;
}
.menu-link:checked ~ .icon-cross {
  display: block;
}    
.menu-link:checked ~ .list-menu {
  display: block;
  background: #abb4b8;
  position: absolute;
  line-height: 0.6;
  top: 80px;
  right:0px; 
  width: 200px;
  height: auto;
  margin-right: 0px;
  z-index: 3;
  padding: 20px 40px 60px 20px;
  text-align: right;  
}
 .list-menu .circleVisible{
  display: block;
  width: 8px;
  height: 8px;
  background: #5dc5ef;  
  border-radius: 4px;
  float: right;
  margin-left: 10px;   
}  
.list-menu  .invisible {
 display: none;
}
 .contact-box{
  display: none;
}
.nav-body ul li{
  line-height: 0.6;
}
.list-menu li{
  margin-top: 20px;
  margin-right: 20px;
}
}
@media (max-width: 350px){
  .icon-menu, .icon-cross,.icon-mobile{
      font-size: 1.2em;
  }
}

/*
******************
* FOOTER
******************
*/
.footer{
  width: 100%;
  height: 50px;
  background: #ebebeb;       
}
.footer h5{
  font-size: 0.8em; 
}
.footer .icon-caret-left{
  font-size: 1.3em;
  color: gray;  
}
.footer-content{
  height: 100% ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}
.footer .blue{  
  color:#1885c8;
  font-size: 1.2em;
  font-weight: 900;
}
.sml{
  font-size: 0.9em;
  font-weight: 600;
}
.bold{
  font-weight: 900;
}
@media (min-width: 978px){
  .footer-content{  
    -webkit-box-align: center;  
    -ms-flex-align: center;  
    align-items: center;      
    -ms-flex-pack: distribute;      
    justify-content: space-around;    
  }
}
@media (max-width: 978px){
  .footer{        
      height: 80px;   
    }
  .footer-content{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;   
  }
  .footer-content h5{
    line-height: 2;
  }
}
@media (max-width: 343px){
  .footer{        
    height: 110px;   
  }
}