.central-container{
    margin-left: 18.75%;
    margin-right: 18.75%;
    height: 100%;
}
.container-for-all-videos{  
    width: 100%;    
    height: 100%;
    margin-top: 30px;
}
.container-for-video{
    margin: 10px;
    width: 46%;
    min-width: 250px; 
    min-height: 240px;  
    text-align: center;
}
.container-for-video h4{
    margin-top: 10px;
   
}
.text-btn-box{    
    width: 45%;
    margin:1vw;   
    text-align: center; 
    min-width: 250px;
}
.text-cont{
    background: #eaf7fd;
    text-align: right;
    padding: 10px;
    
}
.blue-text{
    color: #1885c8;
}
.bottom-info-container button{
    background: white;
    border: 1px solid #61c2ee;
    color: #61c2ee;
    padding: 4px 50px;
}
hr{
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;          
    border:none;
    height: 3px;
    background-color: #61c2ee; 
}
#white-background{
    background: white;
}
.smaller-box{
    height: auto;
    min-height: 100px;
}
.bigger-box{
    height: auto;
    min-height: 150px;
}
@media (min-width: 978px){
    .container-for-video:nth-child(odd){
        float: left;    
    }
    .container-for-video:nth-child(even){
        float: right;    
    }
    .text-btn-box:nth-child(odd){
        float: left;
    }
    .text-btn-box:nth-child(even){
        float: right;
    }
}
@media (min-width: 440px){
    .bottom-info-container{        
        margin: 50px auto 150px auto;          
    }
}
@media (max-width: 978px){   
    .text-btn-box{
        /* margin-left: auto;
        margin-right: auto; */
        margin: 15px auto;
    }
    .container-for-video{
        margin-left: auto;
        margin-right: auto;

    }
}    