.popular-question{
    margin-top: 50px;
}
.popular-question ul li{     
    border-bottom: 2px solid #5dc5ef; 
    color: #5dc5ef;
    min-height: 30px;  
    position: relative;    
}
.popular-question ul li::before,.popular-question ul li::after{
    content:"";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.popular-question ul li:last-child{
    border-bottom:none;
}
.popular-question ul  h5,.popular-question ul  h6{    
    color: black;
    margin-right: 30px;
}
.icon-caret-down, .icon-caret-left{
    color: #5dc5ef;
    font-size: 1em;
}
.question .icon-caret-left{
    position: absolute;   
    top:50%; 
    margin-top: -0.5em;
}
.question{
    cursor: pointer;
}
.answer{
    display: none;
}
.icon-caret-down{
    display: none;
}