.about-me{       
    margin-top: 20px;
    height: 100%;    
}
.container{
    height: 100%;   
}
.text-about-me{     
    
    /* margin-right: 10%;   */
    margin-top: 30px; 
    height: 100%;  
}
.text-about-me h5{
    text-align: right;
}
.my-photo{    
    
    margin-top: 40px;
    height: 100%;
}
.my-photo img{    
    width: 110%;
}
.text-about-me hr{
    border:none;
    height: 1px;
    background-color: #5dc5ef;
    margin-top: 10px; 
    /* width: 60%; */   
}
.my-cv{
    list-style-type: disc;
}
.my-cv  li{
    color: #5dc5ef;
}
.my-cv  span{
    color: black;
}
 /* ul > li:before{
    content: '';
    position: absolute; top: 5px; left: 0;
    width: 9px;
    height: 9px;
    background: #f00; 
    border-radius: 50%;    
}
ul > li:after{
    content: '';
    position: absolute; top: 9px; left: 4px;
    width: 14px;
    height: 1px;
    background: #f00;     
}
 ul > li:last-child:before{
    background: none;
}
 ul > li:last-child:after{
    width: 40%;
    top: 39px
} */
/* .my-cv li{
    border-right:3px solid #5dc5ef;

} */
.believe{
    /* margin: 20px 0px 70px 0px; */
    background: #eaf7fd;  
    height: 100%;
    width: 100%; 
    text-align: right; 
    margin-top: 30px;
    /* padding: 40px 20px 0px 20px; */
}

.believe h3{
    text-align: right;
    color: #0082c6;
    font-weight: 500;
}
.believe hr{
    border:none;
    height: 1px;
    background-color: #5dc5ef;
    margin-top: 10px;   
}
@media (min-width: 978px){ 
    .text-about-me{     
        width: 52%; 
    }
    .my-photo{
        width: 38%;
        float: right; 
        text-align: right;       
    }
    .text-about-me{    
        float: left;        
    }
}    
@media (max-width: 978px){ 
    .my-photo{
        text-align: right; 
    }
    .my-photo img{           
        width: 80%;
    }

    .central-container{
        margin-left: 7%;
        margin-right: 7%;
    }

}
