/*
******************
* TITLE-FOR-PARTS
******************
*/
.title-for-parts{    
    height: 70px;
}
.title-for-parts hr{
    border:none;
    height: 1px;
    background-color: #5dc5ef;
}
.title-for-parts hr:first-child{
    margin-top: 40px;     
}
.title-for-parts hr:last-child{
    margin-top: 30px;    
}
.title-text{  
   margin: auto;
   width: 270px;   
   clear: both;
   position: relative;
   padding-top: 10px;
   text-align: center;
}
.title-for-parts h4{    
    color:#5dc5ef;
    text-align: center;
    float: left; 
    width: 250px;
    margin: auto;
}
.title-for-parts .circleVisible{
    float: left;
}
.title-for-parts .circleVisible:last-child{
    float: right;
}
.circleVisible{
    display: block;
    width: 8px;
    height: 8px;
    background: #5dc5ef;
    /* -moz-border-radius: 50px;
    -webkit-border-radius: 50px; */
    border-radius: 4px;
    margin: auto;
    margin-top: 7px;
} 
@media (max-width: 530px){
    .title-for-parts .circleVisible{
        display: none;
    }    
} 
/*
******************
* MAIN
******************
*/
.blue-box-info{
    width: 100%;
    min-height: 150px;
    background: #eaf7fd;
    margin-top: 20px;
    min-width: 250px;
    
       
}
.blue-box-info h5{    
    padding: 40px 10px 10px 10px;
    text-align: center!Important;
    
}
.circle-with-number{
    width: 50px;
    height: 50px;
    background: white;
    border:1px solid #5dc5ef;
    /* -moz-border-radius: 50px;
    -webkit-border-radius: 50px; */
    border-radius: 25px;    
    margin-top: 7px;
    position: absolute;
    z-index: 2;
    left:42%;
    top:10px;
}
.circle-with-number h2{
    text-align: center;
    margin-top: 5px;
    font-weight: 900;    
}
.blue-box-info h5{
    padding-top: 40px;
    
}
.reletive{
    position: relative;
}
 .blue-box-info .circle-with-number{
    top: -30px;
}

/*
******************
* SECTION-ONE
******************
*/
.section-one{
    height: auto;       
}
.main-fist-section{      
    width: 100%;
    height: auto;
    margin-top: 35px;  
}
.info-box h5{
    text-align: right;    
}
.img-blue-boxes{
    width: 100%;
    height: 100%;    
    margin-top: 30px;
}
.section-one .container-for-boxes{   
    height: 100%;   
    margin-right: 5%;   
}

.img-1{
    border: 5px solid #e8e8e8;    
    height: 97%;     
    min-width: 250px;
    text-align: right;
}
.img-1 img{
    width: 90%;  
}
.section-one .container-for-boxes .blue-box-info{
    margin-top: 50px;
}
.section-one .container-for-boxes .blue-box-info:first-child{
    margin-top: 0px;
}
.info-second .circle-with-number{
    top:20px;
}
.bottom-first-section{
    text-align:center;
}
.bottom-first-section h5{
    text-align:right;
}
.title-light-blue{
    color: #0082c6;
}
.bottom-first-section button{
    padding: 10px 10vw;
    margin: auto;
    margin-top: 40px;
    font-size: 1em;
}
@media (min-width: 978px){
    .img-1{        
        width: 48%;          
        float: left;
        
    }
    .section-one .container-for-boxes{
        float: left;
        width: 45%;
           
    }
    .main-fist-section h4{
        text-align: left;
        margin-left: 10%
    }
}
@media (max-width: 978px){
    .img-1{        
        margin-top: 20px;
        
    }
    .main-fist-section h4{
        text-align: center;
    }
}

/*
******************
* SECTION-TWO
******************
*/
.section-two h5{
    text-align: right;
}
.title-light-blue{
    padding-top: 20px;
}
.img-2{
    text-align: center;
}
.img-2 img{
    width: 85%;
}
.text-center{
    text-align: center;
    padding: 20px 0;
}
.section-two .container-for-boxes {    
    height: auto;
}

@media (min-width: 978px){
.section-two .container-for-boxes .blue-box-info:first-child{
    float: left;
}
.section-two .container-for-boxes .blue-box-info:last-child{
    float: right;
}
.section-two .container-for-boxes .blue-box-info{
    width: 47%;    
}
}
@media (max-width: 978px){
    .img-1{        
        margin-top: 20px;        
    }
    
    .blue-box-info h5{
        padding-top: 40px;
       
    }
        
}
/*
******************
* SECTION-THREE
******************
*/
.section-three{
    margin-top: 50px;
}
.section-three h3{
    text-align: center;
    color: #5dc5ef;
    font-weight: 500;
}
.section-three hr{
    border:none;
    height: 1px;
    background-color: #5dc5ef;
    margin-top: 10px;   
}
.section-three h5{
    text-align: right;
}
.section-three .title-light-blue2{
    color: #5dc5ef;
    padding-top: 30px;
    text-align: right;;
}
.img-3{
    text-align: center;
}
.img-3 img{
    width: 90%;
}
.img-4{
    text-align: center;
}
.img-4 img{
    width: 60%;
}
.img-5{
    text-align: center;
}
.img-5 img{
    width: 80%;
}
/*
******************
* SECTION-FOUR
******************
*/
.section-four{
    margin-top: 50px;    
}
.section-four h5{
    text-align: right;
}
.text-part-1{    
    text-align: right;
    /* padding-right: 10px; */
}
.text-part-2{   
    text-align: right;
    padding-right: 8px;
}
.section-four .container-for-boxes{
    margin-top: 20px;
}
.section-four table{
    border-spacing:15px;
    border-collapse: separate;  
}
.section-four tr td:first-child{
    border-right: 2px solid #5dc5ef;
}
.section-four table h5{
    padding-right: 10px;    
}
.section-four .td-number{ 
    color: #0082c6;
    vertical-align: middle;
    font-size: 2em;
}
.img-and-text-container{    
    width: 100%;
    margin-top: 20px;
}
.img-6{
    text-align: right; 
    border: 5px solid #e8e8e8;  
}
.img-6 img{
    width: 100%;    
}
.box-for-text ul{
    margin-top: 20px;
    margin-right: 20px;
    list-style-type: disc;
    text-align: right;
    font-size: 0.9em;
}
.box-for-text ul li{
    color: #5dc5ef;
}
.box-for-text ul span{
    color: black;
}

@media (min-width: 978px){
.text-part-1{
    float: left;
    width: 49%; 
}
.text-part-2{
    float: right;
    width: 49%;
}
.img-6{
    float: left;
    width: 50%;
    padding: 20px;
}
.box-for-text{
    width: 40%;
    float: right;
}
}