.about-me{       
    margin-top: 20px;
    height: 100%;    
}
.container{
    height: 100%;   
}
.text-about-me{  
    margin-top: 30px; 
    height: 100%;  
    text-align: right;
}
.my-photo{  
    margin-top: 40px;
    height: 100%;
}
.my-photo img{    
    width: 110%;
}
.text-about-me hr{
    border:none;
    height: 1px;
    background-color: #5dc5ef;
    margin-top: 10px; 
    width: 60%;  
    display: inline-block;
}
.my-cv{
    list-style-type: disc;
}
.my-cv  li{
    color: #5dc5ef;
    position: relative;
}
.my-cv  span{
    color: black;
}
/* li:before {
    content: "";
    position: absolute;
    right: -17px;
    border-left: 1px solid #5dc5ef;
    width: 1px;
    height: 58px; // change with my-cv.height in less
  }

  li:first-child:before {
    top: 15px;//Don't draw before first bullet
  }

  li:last-child:before {
    height: 6px; //Don't draw after last bullet
  }
   */

.believe{    
    background: #eaf7fd;  
    height: 100%;
    width: 100%; 
    text-align: right; 
    margin-top: 30px;
    padding: 40px 20px 20px 20px;
}
.believe h3{
    text-align: right;
    color: #0082c6;
    font-weight: 500;
}
.believe hr{
    border:none;
    height: 1px;
    background-color: #5dc5ef;
    margin-top: 10px;  
    width: 30%;  
    display: inline-block;
}
@media (min-width: 978px){ 
    .text-about-me{     
        width: 52%; 
    }
    .my-photo{
        width: 38%;
        float: right; 
        text-align: right;       
    }
    .text-about-me{    
        float: left;        
    }
}    
@media (max-width: 978px){ 
    .my-photo{
        text-align: right; 
    }
    .my-photo img{           
        width: 80%;
    }

    .central-container{
        margin-left: 0%;
        margin-right: 7%;
    }

}
