.container{    
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.photo-doctor{        
    width: 400px;       
} 
.form-for-users{     
    max-width: 450px;  
    margin-top: 20px; 
    text-align: right;
}
.icon-facebook{
    color: #5dc5ef;
    border: 2px solid #5dc5ef;
    border-radius: 50%;
    padding: 3px;
    font-size: 2em;
}
.form{
    margin-top:30px;
    text-align: center;      
}
.form textarea, form input{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #5dc5ef;
    text-align: right;
    padding-right: 10px;
    resize: none;
    font-weight: 600;    
}
form input{
    height: 35px;
}
form textarea{
    height: 125px;
}
.form-for-users button{
    padding: 10px 80px;        
}
.form-for-users h5{
    margin-top: 20px;
    font-weight: 600;
}
.photo-doctor img{    
    width: 100%;
}
#number-light-blue{
    color:#5dc5ef;
    font-size: 1.5em;
}
#error{
    display: none;
    color:red;
}
@media (min-width: 1140px){
    .container{
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
    .photo-doctor{        
        margin-left: 16vw;
    }    
    .form-for-users{ 
        margin-left: 3vw;         
    }

}
@media (max-width: 1140px){    
    .container{         
        -webkit-box-pack: center;         
        -ms-flex-pack: center;         
        justify-content: center;
    }
    .photo-doctor{      
        height: 100%;        
    }    
    .form-for-users{        
        height: 100%;        
    }
} 

@media (max-width: 863px){
    .container{    
        margin-top: 50px;        
        -webkit-box-orient: vertical;        
        -webkit-box-direction: normal;        
        -ms-flex-direction: column;        
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;        
    }

}    
